<section class="report-form-container">
    <form #editForm="ngForm" (ngSubmit)="onSubmit()">
        <h2>Editar Reporte</h2>

        <div class="form-group">
            <app-camara [initialImage]="originalImg" (imageCaptured)="updateImage($event)">
            </app-camara>
            <small *ngIf="report.img" class="photo-status">✔ Foto actualizada</small>
        </div>

        <div class="form-group">
            <label for="idReport">ID del Reporte:</label>
            <input type="text" id="idReport" name="idReport" required class="form-control" [(ngModel)]="report.id"
                placeholder="Ejemplo: EQ-2024-001" pattern="^[A-Za-z]{2,3}-\d{4}-\d{3}$" #idInput="ngModel" readonly>

            <div *ngIf="idInput.invalid && (idInput.dirty || idInput.touched)" class="validation-error">
                <div *ngIf="idInput.errors?.['required']">
                    El ID es requerido
                </div>
                <div *ngIf="idInput.errors?.['pattern']">
                    Formato inválido. (Ej: EQ-2024-001)
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required class="form-control" [(ngModel)]="report.name"
                placeholder="Nombre del reporte">
        </div>

        <div class="form-group">
            <label for="description">Descripción:</label>
            <textarea id="description" name="description" required class="form-control" [(ngModel)]="report.description"
                placeholder="Descripción detallada..." rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="estado">Estado:</label>
            <select id="estado" name="estado" class="form-control" [(ngModel)]="report.estado">
                <option [value]="true">Activo</option>
                <option [value]="false">Inactivo</option>
            </select>
        </div>

        <button type="submit" class="btn-primary" [disabled]="!editForm.valid">
            Guardar Cambios
        </button>
    </form>
</section>